@media only screen and (max-width: 600px) {
  .container {
    grid-template-areas: "nav nav nav nav" "main main main main" "sidebar sidebar sidebar sidebar";
  }

  .nav .nav-left .nav-left-links {
    display: none;
  }

  .nav .nav-right {
    width: 100%;
    justify-content: center;
  }

  .sidebar {
    display: none;
    padding: 0 1.5em;
  }

  .sidebar .sidebar-title .sidebar-title-close {
    display: flex;
    margin-left: auto;
  }

  .main .main-container {
    padding: 1em;
  }

  .main .main-container .welcome-card .welcome-card-content {
    flex-direction: column;
  }

  .main .main-container .welcome-card .welcome-card-content h3 {
    font-size: 1.3rem;
    margin-top: 20px;
    text-align: center;
  }

  .main .main-container .welcome-card .welcome-card-content img {
    margin: 0 auto;
  }

  .main .main-container .main-list-card .main-card {
    padding: 15px;
  }

  .main .main-container .main-card img {
    width: 40px;
  }

  .main .main-container .main-list-card .main-card .main-card-text h3 {
    font-size: 2rem;
  }

  .main .main-container .main-list-card .main-card .main-card-text h5 {
    font-size: 1rem;
  }

  .main .main-content-card-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .main .main-content-card-list .main-content-card h3 {
    font-size: 1rem;
  }

  .main .main-content-card-list .main-content-card .main-content-card-header {
    padding: 1em 0;
  }
}
